.mei-list-detail-prompt{
	text-align: center;
	color: red;
}
.mei-list-detail-item {
    margin-top: 10px;
}

.mei-list-detail-label {
    text-align: right;
    padding-right: 10px;
    height: 28px;
    line-height: 28px;
}

.mei-sku-stock {
    color: #959595;
}