.mei-header {
    overflow: hidden;
}

.mei-header-menu .ant-menu {
    color: #fff;
    background-color: inherit;
    border-bottom-color: #675A52;
}

.mei-header-menu .ant-menu-item > a {
    color: #fff;
}

.mei-header-menu .ant-menu-item-selected > a,
.mei-header-menu .ant-menu-item-selected > a:hover {
    color: #ff8300;
}

.mei-header-avatar {
    z-index: 100;
}

.mei-header-title {
    z-index: 100;
}

.mei-header-title h1 {
    background-color: #675A52;
    line-height: 46px;
}