.mei-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 18px 0;
    text-align: center;
    font-size: 0;
}

.mei-footer .ant-pagination {
    display: inline-block;
}