.mei-search-product {
    padding-bottom: 8px;
    background-color: #fff;
}

.mei-search-product-item {
    display: inline-block;
    padding-right: 8px;
}

.mei-search-product-item label {
    display: block;
}

.ant-table span.change-flag {
    color: #fa3f00;
}