.mei-sidebar {
    position: relative;
    width: 186px;
    background-color: #fff;
    overflow-x: hidden;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.mei-sidebar.mini {
    width: 0px;
}

.mei-sidebar-bar {
    position: absolute;
    z-index: 999;
    bottom: 18px;
    left: -8px;
    width: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    background-color: #ff8300;
    color: #fff;
    cursor: pointer;
    border-radius: 0px 3px 3px 0px;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.mei-sidebar .ant-menu {
    border-right-color: #fff;
}

.mei-sidebar .ant-menu-inline > .ant-menu-item {
    border-right-color: #fff;
}

.mei-sidebar .ant-menu-inline .ant-menu-selected, .mei-sidebar .ant-menu-inline .ant-menu-item-selected {
    border-right-color: #ff8300;
}