.mei-single-search-target {
    position: relative;
}

.mei-single-search-target-tip {
    position: absolute;
    top: 0px;
    right: 36px;
}

.mei-single-search-target-loading {
    font-size: 20px;
    color: #ff8300;
    margin-top: 6px;
}

.mei-single-search-target-text {
    color: #999;
}